@font-face {
    font-family: 'PublicSans';
    src: url('../fuentes/PublicSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'GreatVibes';
    src: url('../fuentes/GreatVibes-Regular.ttf');
}

:root {
    --verdefuerte: #a3cd3b;
    --verdeclaro: #c5e094;
    --grisclaro: #acabab;
    --grisfuerte: #595858;
}

html,
body,
img,
p,
span,
div{
    margin: 0;
}

*{
    font-family: 'PublicSans';
}

.barrasuperior{
    display: flex;
    align-items: center;
    background-color: #a3cd3b;
    /*border-bottom: 5px solid #a3cd3b;*/
}

.logo{
    width: 25%;
}

.lema{
    font-family: 'GreatVibes';
    font-size: 1.5em;
    text-align: justify;
}

.formo{
    width: 450px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*--TITULO-----------------------*/
.titulo{
    color:#a3cd3b;
    margin-bottom: 20px;
    text-align: center;
}
/*--CAJAS-DE-DATOS---------------*/
.cajas{
    width: 80%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: solid black 1px;
    border-left: 10px solid #c5e094;
}
.cajas:hover, .cajas:focus{
    border-left: 10px solid #a3cd3b;
}
/*--TERMINOS-Y-CONDICIONES-------*/
.termino1{
    text-align: center;
    color: #3b3b3b;
}
.termino2{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
.termino2:hover{
    color: #dbdbdb;
}
/*--BOTON-DE-REGISTRARSE---------*/
.crear{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px;
    border-radius: 2px;
    border: none;
    margin: 20px 0;
    font-size: 15px;
    background: #a3cd3b;
    color: white;
    text-decoration: none;
    margin: 5em;
}
.crear:hover{
    background: #a3cd3b;
    color: #000000;
}
/*--YA-TENGO-CUENTA--------------*/
.tengo-cuenta{
    text-align: center;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.tengo-cuenta:hover{
    color: #dbdbdb;
}


/*Web*/ @media(min-width: 780px){

    .logo{
        width: 10%;
     }
 
     .lema{
         width: 90%;
         text-align: center;
         font-size: 4em;
     }
}