@font-face {
    font-family: 'PublicSans';
    src: url('PublicSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'GreatVibes';
    src: url('GreatVibes-Regular.ttf');
}

:root {
    --verdefuerte: #a3cd3b;
    --verdeclaro: #c5e094;
    --grisclaro: #acabab;
    --grisfuerte: #595858;
}

html,
body,
img,
p,
span,
div{
    margin: 0;
}

*{
    font-family: 'PublicSans';
}

.barrasuperior{
    display: flex;
    align-items: center;
    background-color: #a3cd3b;
    /*border-bottom: 5px solid #a3cd3b;*/
}

.logo{
    width: 25%;
}

.lema{
    font-family: 'GreatVibes';
    font-size: 1.5em;
    text-align: justify;
}

.ingresar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tittle{
    padding: 1em 0em;
    font-size: 2.5em;
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.inputs > .ingdatos{
    border-radius: 5px;
    width: 40%;
    height: 3em;
    margin: 1em 0em;
}

.inputpassword{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.inputpassword > .ingdatos{
    border-radius: 5px;
    width: 100%;
    height: 3em;
}

.forget{
    font-size: 10px;
}

.boton{
    width: 30%;
    margin: 5em 0em;
}

.imagenflecha{
    width: 50%;
}



/*Web*/ @media(min-width: 780px){

   .logo{
       width: 10%;
    }

    .lema{
        width: 90%;
        text-align: center;
        font-size: 4em;
    }

    .boton{
        width: 10%;
        margin-top: 5em;
    }
    
    .imagenflecha{
        width: 40%;
    }

    .forget{
        font-size: 1em;
    }

    .inputs{
        width: 50%;
    }
}

